{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body>

<div class="hidden-xs">
{ZL.Label id="全站头部"/}
<div class="lie_banner"></div>
</div>
<div class="visible-xs">
<div class="wei_top_t"><span>兿霏，简单护肤，护肤可以很简单</span></div>
</div>

<div class="lie_cont">
<div class="container">
<!--主体开始 -->
<div id="main">
<div class="row">

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
<div id="mysite">
<ul class="breadcrumb" >
<li><a href="/">首页</a><span class="divider"></span></li>
{ZL.Label id="输出多级节点导航_V3" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="30" /}
<li class="active">栏目列表</li>
</ul>
</div>
<div id="main_l" class="mt10 "> 
<ul>
{ZL.Label id="输出指定节点标题列表_带时间属性_响应式分页v3" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" TitleNum="90" ShowNum="10" /}
</ul> 
</div> <!--右 -->
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div id="main_r">
<div class="mainR_li">
<div class="mainR_t"><span><a href="{ZL:GetNodeLinkUrl(1)/}">更多>></a></span><b>最新资讯</b></div>
<ul id="mainR_ph">
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="1" TitleNum="34" ShowNum="8" /} 
</ul>
</div>

</div><!--左 -->
</div>
</div>
</div>
<!--频道首页主体结束 -->
</div>
</div>

<div class="hidden-xs">
{ZL.Label id="全站底部"/}
</div>
<div class="visible-xs">
<div style="height:52px;"></div>
<div class="wei_bottom">
<ul>
<li class="active"><a href="{ZL:GetNodeLinkUrl(8)/}"><i class="fa fa-home"></i>首页 </a></li>
<li><a href="{ZL:GetNodeLinkUrl(9)/}"><i class="fa fa-briefcase"></i>产品专区</a></li>
<li><a href="/Guest/Ask/Add1.aspx"><i class="fa fa-question-circle"></i>咨询</a></li>
<li><a href="/Index"><i class="fa fa-paw"></i>论坛</a></li>
<li><a href="/User"><i class="fa fa-user"></i>我的</a></li>
<div class="clearfix"></div>
</ul>
</div>
</div>
</body>
</html>