{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" >
<link href="/dist/css/weui.min.css" rel="stylesheet" />
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<link href="{$CssDir/}swiper-3.3.1.min.css" rel="stylesheet" />
<script src="{$CssDir/}js/swiper-3.3.1.jquery.min.js"></script>
<script>
//$.post("/API/UserCheck.ashx?action=HasLogged", "", function (data) {
//	if (!data || data == "-1") {
//		location = "/wxpromo.aspx?r="+window.location.href;
//	}
//});
</script>
<style>
.top-img { position: absolute; }
.swiper-container { width: 100%; background: #fff; }
.swiper-slide { display: block; width: 100%; margin-right: 0px; padding-top: 56.5%; background-repeat: no-repeat; background-size: cover; background-position: center; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.swiper-slide a { display: block; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
.swiper-pagination-bullet { width: 8px; height: 2px; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; /*box-shadow: rgba(0,0,0,.5) 0 0 7px;*/ }
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 3px; }
.swiper-slide h3 { position:absolute; top:50%; left:0; margin-top:-13px; margin-bottom:0; width:100%; text-align:center; color:#fff; font-family:"STHeiti","Microsoft YaHei","黑体","arial";}
.thumbul { margin:0 -5px; padding:0; list-style:none;}
.myIndex_list_cpt { margin-top:10px;}
.thumbul_c { margin-top:10px; position:relative; padding-top:100%; overflow:hidden; border:1px solid #ddd;}
.thumbul_c img { display:block; position:absolute; top:50%; left:50%; width:100%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.myIndex_list_cb ul { margin-bottom:0;  padding-left:0; list-style:none;}
.myIndex_list_cb li { float:left; width:25%; text-align:center;}
.hot_span { display:block; float:left; margin-right:2px; padding-left:5px; padding-right:5px; height:20px; font-size:0.7em; text-align:center; background:#ff914d; color:#fff; line-height:20px; border-radius:4px;}
.best_span { display:block; float:left; margin-right:2px; padding-left:5px; padding-right:5px; height:20px; font-size:0.7em; text-align:center; background:#f8220c; color:#fff; line-height:20px; border-radius:4px;}
.ding_span { display:block; float:left; margin-right:2px; padding-left:5px; padding-right:5px; height:20px; font-size:0.7em; text-align:center; background:#66a3ff; color:#fff; line-height:20px; border-radius:4px;}
.myIndex_list { font-family:"STHeiti","Microsoft YaHei","黑体","arial";}
.myIndex_list_cr { }
.myIndex_list_cr ul { margin-bottom:0; padding-left:0; list-style:none;}
.myIndex_list_cr li { margin-top:5px;}
.myIndex_list_cr li p { margin-bottom:0;}
.myIndex_list_cr li p span { color:#5f96d0;}
.myIndex_list_crb { margin-top:5px; text-align:center; }
.myIndex_list_b { margin-top:1em; text-align:center;}
.wei_index { padding-bottom:1em; background:#f0efef;}
</style>
</head>
<body>


<div class="swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide" style="background-image:url({$CssDir/}images/wei_banner1.jpg);">
<h3>easy face,护肤很简单</h3>
</div>
<div class="swiper-slide" style="background-image:url({$CssDir/}images/wei_banner2.jpg);">
<h3>easy face,护肤很简单</h3>
</div>
<div class="swiper-slide" style="background-image:url({$CssDir/}images/wei_banner3.jpg);">
<h3>easy face,护肤很简单</h3>
</div>
</div>
<!-- 如果需要分页器 -->
<div class="swiper-pagination swiper-pagination-white"></div>
</div>
<div class="wei_top_t"><span>兿霏，简单护肤，护肤可以很简单</span></div>
<div class="wei_pro">
<div class="wei_pro_t" style="margin-top:0;"><span><i class="fa fa-long-arrow-right"></i><font>产品中心 </font></span><a href="{ZL:GetNodeLinkUrl(9)/}">More>></a></div>
<div class="container">
<div class="row">
{ZL.Label id="微站输出商品图片" ShowNum="3" NodeID="9" /}
</div>
</div>
</div>
<div class="wei_pro">
<div class="wei_pro_t"><span><i class="fa fa-long-arrow-right"></i><font>艺霏之家</font></span><a href="/index">More>></a></div>
<div class="wei_index">
</div>
</div>
<div class="wei_pro" hidden>
<div class="wei_pro_t"><span><i class="fa fa-long-arrow-right"></i><font>美容护肤</font></span><a href="{ZL:GetNodeLinkUrl(1)/}">More>></a></div>
<div class="container">
<div class="wei_tie">
<ul>
{ZL.Label id="微站输出指定节点标题列表" NodeID="1" ShowNum="10" TitleNum="50" /}
</ul>
</div>
</div>
</div>
<div class="visible-xs">
<div style="height:52px;"></div>
<div class="wei_bottom1">
<ul>
<li class="active"><a href="{ZL:GetNodeLinkUrl(8)/}"><i class="fa fa-home"></i>首页 </a></li>
<li><a href="/User/Login.aspx?ReturnUrl=/Guest/Ask/Add1.aspx"><i class="fa fa-question-circle"></i>互动</a></li>
<li><a href="/Index"><i class="fa fa-paw"></i>艺霏之家</a></li>
<li><a href="/User/Login.aspx?ReturnUrl=/Cart/Cart.aspx?ProClass=1"><i class="fa fa-shopping-cart"></i>购物车</a></li>
<li><a href="/User"><i class="fa fa-user"></i>个人中心</a></li>
<div class="clearfix"></div>
</ul>
</div>
</div>

<div id="actionSheet_wrap" style="display:none;">
<div class="weui_mask_transition weui_fade_toggle" id="mask" style="display: block;"></div>
<div class="weui_actionsheet weui_actionsheet_toggle" id="weui_actionsheet">
<div class="mobile_buy">
<div class="mobile_buy_t">
<div class="weui_media_box weui_media_appmsg">
<div class="weui_media_hd">
<img class="weui_media_appmsg_thumb" src="" alt="佬哆猪肉饭" onerror="javascript:this.src='/UploadFiles/nopic.gif';">
</div>
<div class="weui_media_bd">
<h4 class="weui_media_title"></h4>
<p class="weui_media_desc"></p>
</div>
</div>
</div>
<div class="mobile_buy_n">
<div class="weui_cells">
<div class="weui_cell">
<div class="weui_cell_bd weui_cell_primary"><p>购买数量：</p></div>
<div class="weui_cell_ft">
<form id="form2" name="form2" method="post" action="/Cart/Cart.aspx">
<input name="id" type="hidden" id="proid" value="0" />
<input name="ProClass" type="hidden" value="1" />
<input name="remark" type="hidden" value="" />
<button class="J_minus btn btn-default btn-sm" type="button"><i class="fa fa-minus"></i></button>
<input name="Pronum" class="J_input form-control input-sm" id="Pronum1" type="text" value="1" />
<button class="J_add btn btn-default btn-sm" type="button"><i class="fa fa-plus"></i></button>
</form>
</div>
</div>
</div>
</div>
<div class="mobile_buy_b">
<div class="row padding10">
<div class="col-xs-6 padding5"><button type="button" class="btn btn-danger btn-sm btn-block" onclick="AddBuy();">立即购买</button></div>
<div class="col-xs-6 padding5"><button type="button" class="btn btn-warning btn-sm btn-block" onclick="AddCartC1();">加入购物车</button></div>
</div>


</div>
<div id="actionsheet_cancel"><span class="fa-stack fa-lg"><i class="fa fa-close fa-stack-1x"></i><i class="fa fa-circle-thin fa-stack-2x"></i></span></div>
</div>
</div>
</div>
</body>
</html>
<script src="/JS/Controls/B_User.js"></script>
<script>
$(function() {
    if ($('.swiper-slide').length <= 1) {
        var mySwiper = new Swiper('.swiper-container', {
            noSwiping: true,
            noSwipingClass: 'stop-swiping',
            autoplay: 0
        });

    } else {
        var mySwiper = new Swiper('.swiper-container', {
            //强制Swiper的宽度和高度，当你的Swiper在隐藏状态下初始化时才用得上
            // width: $(document.body).width(),
            //height: $(document.body).width() * 360 / 640,
            // 前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            // 需要分页器
            pagination: '.swiper-pagination',
            paginationClickable: true,
            /* paginationType: 'custom',*/
            //
            /*slidesPerView: 1,*/
            /*spaceBetween: 30,*/
            //自动切换时间
            autoplay: 5000,
            //用户操作图片之后，是否禁止autoplay
            autoplayDisableOnInteraction: false,
            //循环切换
            loop: true,
            //拖动时指针会变成抓手形状
            grabCursor: true
        });
    }
});
$().ready(function(e) {
    $.post("/index","",function(data){
		$(".wei_index").html($(data).find(".myIndex_list"));
		$(".thumbul").append("<div class='clearfix'></div>");
		$(".thumbul li img").css("max-height","none").css("width","100%").css("height","auto");
		$(".thumbul li").each(function(index, element) {
			$(this).html("<div class='thumbul_c'>"+$(this).html()+"</div>")
		});
		$(".myIndex_list_cr li").each(function(index, element) {
			$(this).find("p:first-child").html("<span>"+$(this).data("user")+"：</span>"+$(this).find("p:first-child").html())
		});
	})
});
function AddBuy()
{
	form2.submit();
}
function AddToCart(obj,proid)
{
	var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
	buser.IsLogged(function(data,flag){
		if(flag)
		{
			$(".weui_media_title").html($(obj).parent().parent().parent().find("h3 a").html())
			$(".weui_media_appmsg_thumb").attr("src",$(obj).parent().parent().parent().parent().find("img").attr("src"));
			$(".weui_media_desc").html($(obj).parent().parent().find("span:first-child").html());
			$("#proid").val(proid);
			$("#actionSheet_wrap").show();
		}
		else
		{
			window.location.href="/User/Login.aspx?ReturnUrl=/Class_9/Default.aspx";
		}	
	});
}
function AddToBuy(proid)
{
	var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
	buser.IsLogged(function(data,flag){
		if(flag)
		{
			$.post("/Cart/Cart.aspx?ID="+proid+"&Pronum=1");
			window.location.href="/Cart/Cart.aspx?ProClass=1";
		}
		else
		{
			window.location.href="/User/Login.aspx?ReturnUrl=/Class_9/Default.aspx";
		}
	});
}
$("#actionsheet_cancel").click(function(){
	$("#actionSheet_wrap").hide();
});
function AddCartC1()
{
	var pronum=$("#Pronum1").val();
	$.post("/Cart/Cart.aspx?ID="+$("#proid").val()+"&Pronum="+pronum);
	alert("加入购物车成功！");
	$("#actionSheet_wrap").hide();
}
</script>