{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>分销中心</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script>
$.post("/API/UserCheck.ashx?action=HasLogged", "", function (data) {
	if (!data || data == "-1") {
		location = "/wxpromo.aspx?r="+window.location.href;
	}
});
</script>
</head>
<body>
<div class="muser_tui_s">
<span>累计消费</span>
<strong>{ZL.Label id="获取当前用户一级会员消费总金额" /}</strong>
</div>

<div class="fenxiao_top">
<i class="fa fa-users"></i> 我的下级
</div>

<div class="fenxiao_all">
<table class="table table-bordered">
<tr>
<td>级数</td>
<td>消费金额</td>
<td>成员数（人）</td>
</tr>
<tr>
<td>一级代理</td>
<td style="padding:0;">
<a href="/Class_4/NodeNews.aspx"><span><i class="fa fa-rmb"></i> {ZL.Label id="获取当前用户一级会员消费总金额" /}</span><br/>查看明细</a>
</td>
<td style="padding:0;">
<a href="/Class_4/NodeNews.aspx">
<span>{ZL.Label id="获取当前用户一级会员总数" /}</span><br/>
查看成员</a>
</td>
</tr>
</table>
</div>

{ZL.Label id="微信底部"/}
</body>
</html>