{ZL.Source id="常规商品数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="常规商品数据源" FD="Proname" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="常规商品数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="常规商品数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script type="text/javascript" src="{$CssDir/}js/jquery.imagezoom.min.js"></script>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="/JS/Controls/B_User.js"></script>
<style>
.alert { font-family:"STHeiti","Microsoft YaHei","黑体","arial"; }
.footer_top { border-top:1px solid #a4a4a4;}
.con_pro1_l a img { width:100%;}
.con_pro1_r { margin-top:5em;}
.pro1_desc p:nth-child(1) img,.pro1_desc p:nth-child(2) img,.pro1_desc p:nth-child(3) img { margin-right:10px;}
.pro_desc_b p:nth-child(1),.pro_desc_b p:nth-child(2),.pro_desc_b p:nth-child(3) { width:100%; font-size:2em;}
.pro1_desc2_r { margin-top:80px;}
</style>
</head>
<body>
<div class="visible-xs">
<div class="hidden-xs">{ZL.Label id="全站头部"/}</div>
<div class="shop_banner hidden-xs"></div>

<div class="">
<div class="wei_nav">
<a href="/"><embed pluginspage="http://www.adobe.com/svg/viewer/install/" src="{$LogoUrl/}" type="image/svg+xml" /></a>
  <span class="pull-right"><a href="/User/">欢迎您，{ZL.Label id="获取当前登录用户真实姓名" /}</a></span>
</div>
<div class="wei_top_t"><span>兿霏，简单护肤，护肤可以很简单</span></div>
</div>
<div class="container">
<div class="mySites hidden-xs">
<ul class="breadcrumb">
<li><a href="/">首页</a></li>
{ZL.Label id="输出多级节点导航_V3" NodeID="{SField sid="常规商品数据源" FD="NodeID" page="0"/}" ShowNum="30" /}
<li class="active">{SField sid="常规商品数据源" FD="ProName" page="0"/}</li>
</ul>
</div>
<div class="row">
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
<div class="box">
<div class="tb-booth tb-pic tb-s310">
<a href='{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Thumbnails" page="0"/})/}'><img src='{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Thumbnails" page="0"/})/}' alt='{SField sid="常规商品数据源" FD="Proname" page="0"/}' rel='{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Thumbnails" page="0"/})/}' class="jqzoom" alt="{SField sid="常规商品数据源" FD="Proname" page="0"/}" /></a>
</div>
<div class="row">
<ul class="tb-thumb list-unstyled" id="thumblist">
<li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tb-selected"><div class="tb-pic tb-s40"><a href="javascript:;"><img src="{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Thumbnails" page="0"/})/}" mid="{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Thumbnails" page="0"/})/}" big="{ZL:GetPicUrl({SField sid="常规商品数据源" FD="Thumbnails" page="0"/})/}" alt="{SField sid="常规商品数据源" FD="Proname" page="0"/}"></a></div></li>
<script>
var pics='{SField sid="常规商品数据源" FD="picture" page="0"/}';
if(pics!="")
{
	var jsonstr=JSON.parse(pics);
	if(jsonstr.length>0)
	{
		for(i=0;i<jsonstr.length;i++)
		{
			document.write('<li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="tb-pic tb-s40"><a href="javascript:;"><img src="/UploadFiles/'+jsonstr[i].url+'" mid="/UploadFiles/'+jsonstr[i].url+'" big="/UploadFiles/'+jsonstr[i].url+'" alt="'+jsonstr[i].desc+'"></a></div></li>');
		}
	}
}
</script>
</ul>
</div>
</div>
</div>
<div  class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
<div class="visible-xs wei_shopcon">
<h1>{SField sid="常规商品数据源" FD="Proname" page="0"/}</h1>
<p style="color:#c00; text-align:center;">全国统一零售价¥{ZL:GetMoney({SField sid="常规商品数据源" FD="LinPrice" page="0"/},2,1)/}</p>
<form id="form2" name="form2" method="post" action="/Cart/Cart.aspx" style="margin-bottom:10px; text-align:center;">
<input name="id" type="hidden" value="{SField sid="常规商品数据源" FD="ID" page="0"/}" />
<input name="Pronum" type="hidden" value="1" />
<button type="button" class="btn btn-danger" onClick="subm();"><i class="fa fa-shopping-cart"></i> 立即购买</button>
<button type="button" onClick="AddCart()" class="btn btn-danger"><i class="fa fa-plus-square"></i> 加入购物车</button>
</form>
</div>
<div class="alert alert-danger visible-xs" role="alert" style="margin-top:20px;">
<h4 class="text-center">郑重申明</h4>
本公司产品在 “艺霏EASYFACE”、“爱美圈”、“创尔云”微网均有销售，除以上平台外，本公司未在任何APP平台及电商网络平台销售，为了维护广大群众自身利益，请认真相关授权平台购买。客户，请认准各地区总经销及各大医院处购买。
</div>

<div class="shop_detial hidden-xs">
<h1>{SField sid="常规商品数据源" FD="Proname" page="0"/}</h1>
<p>￥<strong>{ZL:GetMoney({SField sid="常规商品数据源" FD="LinPrice" page="0"/},2,1)/}</strong><span>￥{ZL:GetMoney({SField sid="常规商品数据源" FD="ShiPrice" page="0"/},2,1)/}</span></p>
<div class="shop_detial_c">
<ul>
<li><span>月售：</span>{SField sid="常规商品数据源" FD="ys" page="0"/} 份</li>
<li><span>品牌：</span>{SField sid="常规商品数据源" FD="brand" page="0"/}</li>
<li><span>库存: </span>{SField sid="常规商品数据源" FD="stock" page="0"/}{SField sid="常规商品数据源" FD="Prounit" page="0"/}</li>
</ul>
</div>
<div class="to_buy"><span id="colors"></span><span id="sizes"></span>
<form id="form1" name="form1" method="post" action="/Cart/Cart.aspx" style="margin-bottom:10px;">
<input name="id" type="hidden" id="id" value="{SField sid="常规商品数据源" FD="ID" page="0"/}" />
<input name="Attribute" id="Attribute"  type="hidden" value="">
<button class="J_minus btn btn-default" type="button"><i class="fa fa-minus"></i></button>
<input name="Pronum" class="J_input form-control" id="Pronum" type="text" value="1">
<button class="J_add btn btn-default" type="button"><i class="fa fa-plus"></i></button>

<input name="color" value="" id="color" type="hidden" />
<input name="size" value="" id="size" type="hidden" />
<button type="button" onClick="subm()" class="btn btn-danger"><i class="fa fa-shopping-cart"></i> 立即购买</button>
<button type="button" onClick="AddCart()" class="btn btn-danger mar_top8"><i class="fa fa-plus-square"></i> 加入购物车</button>
<a href="/User/Content/MyFavite_Shop.aspx" class="btn btn-link mar_top8"><i class="fa fa-eye"></i> 关注商品</a>
</form>
</div>
</div>
</div>
</div>

<div class="shop_cont">
<!--内容主体开始 -->
<ul class="nav nav-tabs">
<li class="active"><a href="#home" data-toggle="tab">商品详细</a></li>
<li><a href="#home1" data-toggle="tab">销量和评价</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="home">{SField sid="常规商品数据源" FD="Procontent" page="0"/} </div>
<div class="tab-pane" id="home1">
<div class="iframe_comm" id="iframe_comm">
<iframe id="comm_ifr" scrolling="no" onload="IfrAutoHeight();" src='/User/Order/ShareList.aspx?ProID={SField sid="常规商品数据源" FD="ID" page="0"/}' style="width:100%;" align="middle" frameborder="0"></iframe>
<script type="text/javascript" src="/JS/Modal/APIResult.js"></script>
<script>
	function commentAnchor() { $("html,body").animate({ scrollTop: $("#iframe_comm").offset().top - 100 }, 300); }
	function IfrAutoHeight() { var $ifr = $("#comm_ifr"); $ifr.height($ifr.contents().height()); }
	function addfav() {
	    $.post("/API/mod/collect.ashx", {action:"add",favurl:"/Shop.aspx?itemid={SField sid="常规商品数据源" FD="ID" page="0"/}",infoid:"{SField sid="常规商品数据源" FD="ID" page="0"/}",type:2,title:"{SField sid="常规商品数据源" FD="Title" page="0"/}"},function(data){
	    var model=JSON.parse(data);
	    if(APIResult.isok(model)){
	        alert("收藏成功!");
	    }else{
	        alert("收藏失败!原因:"+model.retmsg);
	    }
	});
	}
</script>
</div>
</div>
</div>
</div>
<script>
var strval='{SField sid="常规商品数据源" FD="Nums" page="0"/}';
strval=strval.split(','); 
for(var i=0;i<strval.length;i++){
strval[i]=strval[i].split('|');
if(strval[i].length>1){
document.getElementById("priceC").innerHTML+=strval[i][0]+"|价格:<input type='hidden' name='price' id='price"+i+"' value='"+strval[i][1]+"'>"+strval[i][1]+"<input type='text' name='num' id='num"+i+"' value='1' >件<input type='button' class='gopay' id='buttons"+i+"' onclick='putval("+i+")' value='购买'><br>";
}; 
}
function putval(num){
document.getElementById("Stock").value=document.getElementById("num"+num).value;//赋予购物表单中商品数量值
document.getElementById("Wholesaleone").value=document.getElementById("price"+num).value;//赋予购物表单中商品价格值
formw.submit();//提交name为formw的form表单
}
</script> 
<!--右 --> 
</div>   

<div class="hidden-xs">
{ZL.Label id="全站底部"/}
</div>
<div class="visible-xs">
<div style="height:52px;"></div>
<div class="wei_bottom">
<ul>
<li><a href="{ZL:GetNodeLinkUrl(8)/}"><i class="fa fa-home"></i>首页 </a></li>
<li class="active"><a href="{ZL:GetNodeLinkUrl(9)/}"><i class="fa fa-briefcase"></i>产品专区</a></li>
<li><a href="/Guest/Ask/Add1.aspx"><i class="fa fa-question-circle"></i>咨询</a></li>
<li><a href="/Index"><i class="fa fa-paw"></i>论坛</a></li>
<li><a href="/User"><i class="fa fa-user"></i>我的</a></li>
<div class="clearfix"></div>
</ul>
</div>
</div>
</div>
<div class="hidden-xs">
{ZL.Label id="新版全站头部"/}
<div class="banner_pro2"></div>
<div class="home_desc">
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-md-offset-3 home_desc_bac">
<div>
<h4>01</h4>
<p>无色素</p>
</div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 home_desc_bac">
<div>
<h4>02</h4>
<p>无香精</p>
</div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 home_desc_bac">
<div>
<h4>03</h4>
<p>无化学<br/>防腐剂</p>
</div>
</div>
</div>
</div>
</div>
<!--首页描述结束-->

<div class="con_pro1">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 con_pro1_l">
<a href="javascript:;" title=""><img src="{$CssDir/}images/pro2_pic1.png" alt="" /></a>
</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 con_pro1_r">
<div>
<h2>使用范围</h2>
<ul>
<li><span>01</span>联合激光减少黄褐斑术后反弹</li>
<li><span>02</span>淡化表皮型黄褐斑</li>
<li><span>03</span>淡化炎症后色素沉着</li>
<li><span>04</span>肤色暗哑、不均者日常保养</li>
</ul>
</div>
</div>
</div>
</div>
<div class="pro1_buy">
<div class="container">
<p>{SField sid="常规商品数据源" FD="Proname" page="0"/}</p>
<p>￥ {ZL:GetMoney({SField sid="常规商品数据源" FD="LinPrice" page="0"/},2,1)/}</p>
<p><a href="javascript:;" onClick="AddCart();">加入购物车</a></p>
<p><a href="javascript:;" onClick="subm();">立即购买</a></p>
<p><a href="#r">产品参数 >></a></p>
</div>
</div>
</div>
<div class="pro1_desc" id="r">
<div class="container">
<p><img src="{$CssDir/}images/pro_true.png" alt="" /><span>护肤程序最简化：</span>简化护肤程序，还原女性之美。</p>
<p><img src="{$CssDir/}images/pro_true.png" alt="" /><span>产品配方最简化：</span>无色素、无香精、无化学防腐剂，删减不必要辅料，减轻皮肤负担。</p>
<p><img src="{$CssDir/}images/pro_true.png" alt="" /><span>产品选材最优化：</span>精选进口原材料，保障产品功效。</p>
</div>
</div>
<div class="pro1_desc2">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pro1_desc2_r">
<ul class="media-list">
<h1>安全无刺激</h1>
<li class="media">
<div class="media-left media-middle">
<a href="#">
<img class="media-object" src="{$CssDir/}images/pro2_pic2.png" alt="" />
</a>
</div>
<div class="media-body">
<p class="media-heading">巴布剂是一种沿用了50多年的贴膏剂（膏药），基质配方经过几十年的优选，与皮肤相容性强，安全性很高。</p>
</div>
</li>
<li class="media">
<div class="media-left media-middle">
<a href="#">
<img class="media-object" src="{$CssDir/}images/pro2_pic2.png" alt="" />
</a>
</div>
<div class="media-body">
<p class="media-heading">将口服氨甲环酸改为局部靶向贴敷，使血液中氨甲环酸浓度大大降低，避免出现月经量减少甚至停经。</p>
</div>
</li>
<li class="media">
<div class="media-left media-middle">
<a href="#">
<img class="media-object" src="{$CssDir/}images/pro2_pic2.png" alt="" />
</a>
</div>
<div class="media-body">
<p class="media-heading">无色素、无香精、无化学防腐剂。使用美国进口植物抑菌剂取代容易导致皮肤过敏的化学防腐剂。</p>
</div>
</li>
</ul>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pro1_desc2_l">
<a href="javaScript:;"><img src="{$CssDir/}images/pro2_pic3.png" alt="" /></a>
</div>
</div>
</div>
</div>
<div class="pro1_desc pro_desc_b">
<div class="container">
<p><img src="{$CssDir/}images/pro_true.png" alt="" />日本原研巴布剂技术</p>
<p><img src="{$CssDir/}images/pro_true.png" alt="" />精选进口原材料</p>
<p><img src="{$CssDir/}images/pro_true.png" alt="" />日本合资工厂生产</p>
</div>
</div>
<div class="pro1_desc2">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pro1_desc2_l">
<a href="javaScript:;"><img src="{$CssDir/}images/pro2_pic4.png" alt="" /></a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pro1_desc2_r">
<h2 class="text-center">吸收才有效</h2>
<p>含有凝血酸（传明酸）的产品很多，为什么大多数效果不明显？
原因：凝血酸是一种水溶性化学物质，很难透过脂质的皮肤屏障，只有极微
量的凝血酸能通过毛孔吸收，因此很难取得明显的效果。巴布剂通过其蕴含
的高达60%以上水分，使角质细胞吸水膨胀，形成多孔性结构，打开吸收通
道，氨甲环酸在渗透压的作用下持续渗透进入皮肤组织，直达真皮！</p>
</div>
</div>
</div>
</div>

<div class="pro2_desc1">
<div class="container">
<h3>激光+艺霏深透雪颜敷贴是淡化色斑的理想选择！</h3>
<p>巴布贴加速黑色素排出，抑制黑色素生成和转运</p>
</div>
</div>
<div class="con_pro1 margin_top20 margin_bot20">
<div class="container">
<div class="row">
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 con_pro1_r">
<div>
<h2>使用范围</h2>
<ul>
<li><span>01</span>联合激光减少黄褐斑术后反弹</li>
<li><span>02</span>淡化表皮型黄褐斑</li>
<li><span>03</span>淡化炎症后色素沉着</li>
<li><span>04</span>肤色暗哑、不均者日常保养</li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 con_pro1_l">
<a href="javascript:;" title=""><img src="{$CssDir/}images/pro2_pic5.png" alt="" /></a>
</div>
</div>
</div>
</div>
<div class="pro2_desc1">
<div class="container">
<h3>使用方法</h3>
<p>每天1次，每次1袋。洁面后可以全脸先涂抹少量艺霏虾青素莹润修护精华液，再贴敷艺霏巴布贴，贴敷1-2小时，连续使用不少于8周。
揭除敷贴后不用清洗，再次涂抹艺霏虾青素莹润修护精华液，修复皮肤屏障功能，加速精华液中的神经酰胺、超低分子量透明质酸等活
性成分的透皮吸收。根据使用者皮肤敏感程度决定最佳贴敷时间：皮肤很不敏感的，可以延长贴敷时间，甚至可贴敷过夜。敏感肌肤者
在脸颊部位的贴敷时间不要超过1小时，随后将贴片移至其它部位继续贴敷。</p>
</div>
</div>

<div class="pro1_desc4">
<div class="container">
<div class="pro1_desc4_t">
<img src="{$CssDir/}images/pro_pic6.png" alt="" />
</div>
<p><img src="{$CssDir/}images/pro2_pic6.jpg" alt="" style="width:50%" /><img src="{$CssDir/}images/pro2_pic7.jpg" alt="" style="width:50%" /></p>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pro1_desc4_r">
<ul class="media-list">
<li class="media">
<div class="media-left media-middle">
<a href="#">
<img class="media-object" src="{$CssDir/}images/pro_pic8.png" alt="" />
</a>
</div>
<div class="media-body">
<p class="media-heading">虾青素来自夏威夷纯天然雨生红球藻，是自然界最强的抗氧化剂，清除自由基的能力是VC的6000倍、番茄红素的1800倍、VE的1000倍、花青素的700倍、茶多酚的320倍、胡萝卜素的100倍。</p>
</div>
</li>
<li class="media">
<div class="media-left media-middle">
<a href="#">
<img class="media-object" src="{$CssDir/}images/pro_pic9.png" alt="" />
</a>
</div>
<div class="media-body">
<p class="media-heading">精华液中含有高浓度的神经酰胺（糖鞘脂类），可以补充角质层缺失的神经酰胺，修补漏洞，减少水分丢失，从而修护皮肤屏障功能。精华液中还添加有高浓度的超低分子量透明质酸，一方面帮助皮肤锁住外部水分，同时透皮吸收进入皮肤，补充皮肤组织中缺失的透明质酸，有利于减少皱纹。产品中还含有皮脂膜固有成分角鲨烯，也能补充一部分脂质，修补屏障。</p>
</div>
</li>
<li class="media">
<div class="media-left media-middle">
<a href="#">
<img class="media-object" src="{$CssDir/}images/pro_pic10.png" alt="" />
</a>
</div>
<div class="media-body">
<p class="media-heading">产品中的葡聚糖具有修护皮肤损伤、减少炎症反应等多种功能，还能促进角质细胞的生长，持续使用一段时间后，角质层层数增多，慢慢接近正常状态。</p>
</div>
</li>
</ul>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pro1_desc4_l">
<a href="javaScript:;"><img src="{$CssDir/}images/pro_pic11.png" alt="" /></a>
</div>
</div>
</div>
</div>
{ZL.Label id="新版全站底部"/}
</div>
</body>
</html>
<script>
//商品图片切换 
$(document).ready(function(){
	$(".jqzoom").imagezoom();
	$("#thumblist li a").click(function(){
		$(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
		$(".jqzoom").attr('src',$(this).find("img").attr("mid"));
		$(".jqzoom").attr('rel',$(this).find("img").attr("big"));
	});
	$(".tese_l>ul>li").click(function(){
		$(this).find("ul").slideToggle();
	})
});

function changUrl(n,a){
for (var i=0;i<20;i++){

if(i==a&&document.getElementById("size"+i).className=='normal'){
document.getElementById("size"+i).className='active';
$("#size").val(n);
$("#sizes").html(n); 

} 
else if(i==a&&document.getElementById("size"+i).className=='active'){
document.getElementById("size"+i).className='normal';
$("#size").val("");
$("#sizes").html(""); 

}
else{
document.getElementById("size"+i).className='normal';
$("#size").val(n);
$("#sizes").html(n); 
}
}}
function changcolor(n,b) {
for (var i=0;i<20;i++){
if(i==b&&document.getElementById("color"+i).className=='normal'){
document.getElementById("color"+i).className='active';
$("#color").val(n);
$("#colors").html(n); 

} 
else if(i==b&&document.getElementById("color"+i).className=='active'){
document.getElementById("color"+i).className='normal';
$("#color").val("");
$("#colors").html(""); 
}

else{
document.getElementById("color"+i).className='normal';
$("#color").val(n);
$("#colors").html(n); 
}
}
}
function subm()
{	
	form2.submit();	
}
function AddCart()
{
		if($("#Pronum").val()>0)
		{
			$.post("/Cart/Cart.aspx?ID="+$("#id").val()+"&Pronum="+$("#Pronum").val());
			alert("加入购物车成功！")
		}
		else alert("商品数量不正确！");
}
function addfav()
{
	$.post("/API/mod/collect.ashx", {action:"add",favurl:"/Shop.aspx?itemid={SField sid="常规商品数据源" FD="ID" page="0"/}",infoid:"{SField sid="常规商品数据源" FD="ID" page="0"/}",type:2,title:"{SField sid="常规商品数据源" FD="Title" page="0"/}"},function(data){
		var model=JSON.parse(data);
		if(APIResult.isok(model))
		{
			alert("收藏成功!");
		}
		else
		{
			alert("收藏失败!原因:"+model.retmsg);
		}
	});
}
$().ready(function(e) {
var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$(".home_top_l a:nth-child(1)").html("欢迎您，"+data.UserName);
		$(".home_top_l a:nth-child(1)").attr("href","/User");
		$(".home_top_l a:nth-child(2)").hide();
		$(".home_top_l a:nth-child(3)").show();
	}
	else{
		$(".home_top_l a:nth-child(3)").hide();
		window.location.href="/User/Login.aspx?ReturnUrl=/Shop/{SField sid="常规商品数据源" FD="ID" page="0"/}.aspx";
	}
});
});
</script>