<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="F87F9F9767D21464EDB99DCED9BC9B9E89B88604274358C903FF85B5E87B6F917C8516DBE5BC0B27EB059988B80A8EFAE4EE68DDE444C0A2635FB5C19687031568887BAEDE69FF14279E17269C14F47003E485BCF6A3DA437FEF51864DCCAF0EEF3D4D78BFF3622F3D4D54C93AF3CE4D" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>